* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.site-logo {
    display: inline;
    border: 3px solid red;
}

nav ul li {
    display: inline;
}

.hero {
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: space;
    background-position: right;
    background-size: cover;
    background-attachment: scroll;
    vertical-align: middle;
    border: 2px solid red;
    width: 100%;
}