@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px 0;
    position: fixed;
    z-index: 5;
    background-color: hsl(0, 0%, 100%);
    border: 3px solid red;
}

.site-logo {
    display: inline;
    border: 3px solid red;
}

.links ul li {
    display: inline-block;
    padding: 20px 20px;
}

.links li a {
    text-decoration: none;
    padding-bottom: 17px;
    color: hsl(233, 8%, 62%);
}

.links li a:hover {
    border-bottom: 4px solid hsl(233, 26%, 24%);
    border-image: linear-gradient(to left, hsl(136, 65%, 51%), hsl(192, 70%, 51%))10;
    color: hsl(0, 0%, 0%);
}

.button {
    border-radius: 50px;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    width: 14%;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
    transition: .5s;
    border: none;
    outline: none;
}

.button:hover {
    background-position: right;
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-repeat: space;
    border: 2px solid red;
    position: relative;
    top: 100px;
    /* bottom: 90px; */
}

.bg-img {
    position: relative;
    /* margin: 0 auto; */
    /* width: 40%; */
}

.intro-img {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 120px;
    left: 120px;
    z-index: -99;
    /* margin: 100px; */
    /* background-position: right; */
    /* background-size: contain; */
    /* background-attachment: scroll; */
    /* display: block; */
}

.intro-mock {
    position: relative;
    /* z-index: 1; */
    /* display: inline-block; */
    /* width: 100%; */
    /* bottom: 50px; */
    /* left: 500px; */
}

.intro-mock img {
    width: 100%;
    position: relative;
    bottom: 50px;
    left: 520px;
}

.content {
    z-index: -1;
}